@import url('https://api.fonts.coollabs.io/css2?family=Kanit&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(239, 254, 236);
  --secondary: rgb(3, 15, 1);
  --primary-btn: rgb(245, 182, 46);
  --secondary-btn: rgb(255, 255, 255);
  --accent: rgb(245, 182, 46);
}

body {
  background-image: url('/wave.svg');
  background-color: var(--secondary);
  background-blend-mode: overlay;
  scroll-behavior: smooth;

  overflow: hidden;

  font-family: 'Kanit';
}

:where(h1) {
  color: var(--primary);
}

.btn-nav-main {
  color: var(--primary);
  text-decoration: none;

  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.btn-main {
  border-color: transparent;
  background-color: var(--primary-btn);
  color: var(--primary);
  text-decoration: none;

  padding: 15px;
  border-width: 3px;
  min-width: 30px;

  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.btn-main:hover {
  transform: scale(1.1);
}

.btn-nav-main:hover {
  transform: scale(1.1);
}