---
import NoFooterLayout from '../layouts/NoFooterLayout.astro';
---

<style>
  body {
    background-attachment: fixed;
    overflow-y: visible;
  }
</style>

<NoFooterLayout>
  <div class='flex flex-col items-center justify-center w-screen mt-60'>
    <div class='max-w-6xl'>
      <h1 class='text-6xl font-bold md:text-7xl'>Server Features</h1>

      <section class='flex flex-col justify-start items-start'>
        <h2 class='text-4xl'>All Servers</h2>
        <ol>
          <li>
            <p>
              Pocket Dimension has 2 exits; Exits change each time someone
              successfully escapes.
            </p>
          </li>

          <li>
            <p>
              Common Events such as Hide & Seek, Small Round, Deathrun, Lights
              Out, and more!
            </p>
          </li>
        </ol>
      </section>

      <section class='flex flex-col justify-start items-start'>
        <h2 class='text-4xl'>Heavily Modded</h2>
        <ol>
          <li>
            <p>
              Intercom lasts 25 seconds instead of 20 and its cooldown is 60
              seconds instead of 120.
            </p>
          </li>

          <li><p>Custom Surface, credits to Kognity's Playhouse.</p></li>

          <li>
            <p>
              Inside SCP-914, items will be converted wether they are dropped,
              held, or in your inventory.
            </p>
          </li>

          <li>
            <p>
              with items in them will occur during MTF/Chaos spawn, Airdrops
              spawn in random locations at the Surface. Items included in the
              Airdrops include:
            </p>
            <ul>
              <li>
                <p>Firearms</p>
              </li>

              <li>
                <p>Armour</p>
              </li>

              <li>
                <p>Medical Items</p>
              </li>

              <li>
                <p>SCP Items</p>
              </li>

              <li>
                <p>Grenades</p>
              </li>

              <li>
                <p>3-X Particle Disruptor</p>
              </li>

              <li>
                <p>Jailbird</p>
              </li>
            </ul>
          </li>
        </ol>
      </section>

      <section>
        <h2 class='text-4xl'>Vanilla</h2>
        <ol>
          <li>
            <p>In SCP-914, items must be dropped to be converted.</p>
          </li>

          <li>
            <p>
              Friendly Fire (FF) is on. Constant or Targeted FF can be reported
              using the in-game reporting function. FF is also limted to 0.4x
              normal weapon damage (default for SL).
            </p>
          </li>
        </ol>
      </section>

      <section>
        <h2 class='text-4xl'>Lawless</h2>
        <ol>
          <li>
            Inside SCP-914, items will be converted wether they are dropped,
            held, or in your inventory.
          </li>

          <li>
            <p>
              5% chance of spawning a sinkhole @ every 4-way intersection in
              Light Containment
            </p>
          </li>

          <li>
            <p>
              Auto Nuke will occur when it has been 25 minutes into the round, a
              warning will be displayed. Auto Nuke cannot be disabled
            </p>
          </li>

          <li>
            <p>
              Friendly Fire (FF) is on. Players can damage each other with no
              punishment nor mark on their record, however mass Team Killing
              will result in Staff involvement as it makes the game less fun for
              others.
            </p>
          </li>
        </ol>
      </section>
    </div>
  </div>
</NoFooterLayout>
