---
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
---

<PrimaryLayout>
  <div class='flex flex-col items-center justify-center w-screen h-screen'>
    <h1 class='mb-8 text-6xl md:text-8xl'>Omega <span>SCP</span></h1>
    <div class='flex flex-row gap-4'>
      <a href='https://discord.com/invite/cAnNxs95Ur' class='text-lg rounded-full btn-main'>Discord</a>
      <a href='https://www.patreon.com/Omega_SCP_' class='text-lg rounded-full btn-main'>Patreon</a>
      <a href='https://www.youtube.com/channel/UCAvJ4j_bGS8r4VYCfFqiTmQ' class='text-lg rounded-full btn-main'>Youtube</a>
    </div>
  </div>
</PrimaryLayout>

<style>
  span {
    background: linear-gradient(to right, white, var(--accent), var(--accent), var(--accent));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
  }
</style>
