---
import NoFooterLayout from '../layouts/NoFooterLayout.astro';
---

<style>
  body {
    background-attachment: fixed;
    overflow-y: visible;
  }
</style>

<NoFooterLayout title='OmegaSCP Rules'>
  <div class='flex flex-col items-center justify-center w-screen mt-60'>
    <div class='max-w-6xl'>
      <h1 class='text-6xl font-bold md:text-7xl'>Server Rules</h1>

      <p class='text-xl font-bold'>
        ❗ Staff reserve the right to punish users for reasons not explicitly
        stated in these rules. ❗
      </p>

      <section class='flex flex-col justify-start items-start'>
        <h2 class='text-4xl'>Heavily Modded</h2>
        <ol>
          <li>
            <p>
              Treat everyone with respect. Absolutely no harassment,
              witch-hunting, sexism, racism, or hate speech will be tolerated.
            </p>
          </li>
          <li>
            <p>
              Use common sense, and be ethical. Don't do things that would be
              seen as morally wrong.
            </p>
          </li>
          <li>
            <p>
              Extreme toxicity is not tolerated and will result in a permanent
              ban. Extreme toxicity doesn't involve friendly banter.
            </p>
          </li>
          <li>
            <p>
              Do not meta-game, it ruins the game for others and sometimes can
              give you an unfair advantage. (Meta-gaming is getting information
              outside of the game with means such as Discord, Steam Chats, etc.)
            </p>
          </li>
          <li>
            <p>
              Do not purposely delay the game by camping, teaming or any other
              means to delay the game. Doing so will result in being slain.
              Repeated camping will result in a kick or ban.
            </p>
          </li>
          <li>
            <p>
              Teaming is allowed for certain teams - Chaos can team with SCPs
              but not MTF. - D-Class can team with SCPs and Scientists for
              roleplaying or banter (They just can't let the D-Class escape).
              Roleplay teaming is allowed entirely, however, there is a point at
              which it will need to end. If forms of roleplay are causing the
              round to be delayed, the person who asked to team will be slain.
              If nobody asked to team, or there is no evidence, the human class
              will be slain.
            </p>
          </li>
          <li>
            <p>
              Micspam is permitted on proximity chat and at a low volume in
              Intercom as long as it follows the rules. It is prohibited in SCP
              chat, Pre-round chat, Spectator chat or end-game chat. If a user
              is micspamming in any of these channels, mute them and report them
              to staff.
            </p>
          </li>
          <li>
            <p>
              Staff are players too. Asking for a rank, upgrades, advantages or
              anything that you wouldn't normally get in-game with its own
              mechanics is punishable.
            </p>
          </li>
          <li>
            <p>
              Sabotaging your team in any way will result in punishment,
              depending on how bad your record and offence is. This includes
              closing doors on members, turning off generators for reasons other
              than roleplay, and killing D-Class who are not hostile.
            </p>
          </li>
        </ol>
      </section>

      <section>
        <h2 class='text-4xl'>Vanilla</h2>
        <ol>
          <li>
            <p>
              Treat everyone with respect. Absolutely no harassment,
              witch-hunting, sexism, racism, or hate speech will be tolerated.
            </p>
          </li>
          <li>
            <p>
              Use common sense, and be ethical. Don't do things that would be
              seen as morally wrong.
            </p>
          </li>
          <li>
            <p>
              Extreme toxicity is not tolerated and will result in a permanent
              ban. Extreme toxicity doesn't involve friendly banter.
            </p>
          </li>
          <li>
            <p>
              Targeted friendly fire (groups of people all targeting one
              person), revenge killing (killing someone because they killed you
              at the start of the round) or constant friendly fire (more than
              once from the same player in one round) is punishable. Use the
              Discord #reporting channel to report violators, or the in-game
              report function if it is a minor offence. Evidence is encouraged,
              (Unlisted YT video link, Streamable, etc.) but we have advanced
              logging techniques if you weren't able to record evidence.
            </p>
          </li>
          <li>
            <p>
              Do not meta-game, it ruins the game for others and sometimes can
              give you an unfair advantage. (Meta-gaming is getting information
              outside of the game with means such as Discord, Steam Chats, etc.)
            </p>
          </li>
          <li>
            <p>
              Do not purposely delay the game by camping, teaming or any other
              means to delay the game. Doing so will result in being slain.
              Repeated camping will result in a kick or ban.
            </p>
          </li>
          <li>
            <p>
              Teaming outside of your classes is not permitted - Class-D teaming
              with Chaos Insurgency is fine, however an SCP teaming with a
              Class-D is not permitted. This rule does not apply to Scientists
              teaming with Class-D, unless the Scientists are with MTF or the
              Class-D are with the Chaos Insurgency.
            </p>
          </li>
          <li>
            <p>
              Micspam is permitted on proximity chat and at a low volume in
              Intercom as long as it follows the rules. It is prohibited in SCP
              chat, Pre-round chat, Spectator chat or end-game chat. If a user
              is micspamming in any of these channels, mute them and report them
              to staff.
            </p>
          </li>
          <li>
            <p>
              Staff are players too. Asking for a rank, upgrades, advantages or
              anything that you wouldn't normally get in-game with its own
              mechanics is punishable.
            </p>
          </li>
          <li>
            <p>
              Sabotaging your team in any way will result in punishment,
              depending on how bad your record and offence is. This includes
              closing doors on members, turning off generators for reasons other
              than roleplay, and killing D-Class who are not hostile.
            </p>
          </li>
        </ol>
      </section>

      <section>
        <h2 class='text-4xl'>Lawless - Guidelines</h2>
        <p>
          Even though this server is a no rules server, Northwood requires some
          basic rules under their EULA
        </p>
        <ol>
          <li>
            <p>
              Treat everyone with respect. Absolutely no harassment,
              witch-hunting, sexism, racism, or hate speech will be tolerated.
            </p>
          </li>
          <li>
            <p>
              Use common sense, and be ethical. Don't do things that would be
              seen as morally wrong.
            </p>
          </li>
          <li>
            <p>
              Extreme toxicity is not tolerated and will result in a permanent
              ban. Extreme toxicity doesn't involve friendly banter.
            </p>
          </li>
          <li>
            <p>
              Teamkilling is allowed as long as it's an accident, banter or
              roleplay. Mass TK is not permitted, this includes sabotage TKing.
              You will be warned on your first offence, then further punishments
              will avail.
            </p>
          </li>
          <li>
            <p>
              Do not purposely delay the game by camping, teaming or any other
              means to delay the game. Doing so will result in being slain.
              Repeated camping will result in a kick or ban.
            </p>
          </li>
          <li>
            <p>
              Micspam is permitted everywhere at a reasonable volume except SCP
              chat. If someone is micspamming and it's being annoying, feel free
              to mute them yourselves by pressing "N" and pressing the mute
              button next to their name.
            </p>
          </li>
          <li>
            <p>
              Staff are players too. Asking for a rank, upgrades, advantages or
              anything that you wouldn't normally get in-game with its own
              mechanics is punishable.
            </p>
          </li>
        </ol>
      </section>
    </div>
  </div>
</NoFooterLayout>
