---
import '../styles/preflight.scss';

import NavBar from '../components/NavBar.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>OmegaSCP</title>
	</head>
	<body>
    <div class='prose prose-zinc'>
      <NavBar/>
      <slot/>
    </div>
	</body>
</html>